//  Utilities
.heading {
  &__primary {
    background: linear-gradient(to top left, #6400ff, #382b47);
    display: inline;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-family: inherit;
    font-size: 4.8rem !important;
    font-weight: 700;
  }

  &__secondary {
    color: inherit;
    font-family: inherit;
    font-size: 3.2rem;
    font-weight: 700;

    margin-bottom: 2.4rem;
  }
}

.banner__img {
  border-radius: 24px;
  object-position: top left;
  object-fit: cover;
  width: 100%;
}

.icon__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 12rem;
  width: 20rem;
}

.err {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0.8rem 2.4rem 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 6rem;
  margin: 10rem auto;
  width: 90%;
  max-width: 50rem;
  min-height: 24rem;

  &__msg {
    color: currentColor;
    font-size: 2rem;
    line-height: 1.5;

    p {
      margin-bottom: 2.4rem;
    }
  }
}
