//  Utilities
.heading__secondary {
  color: inherit;
  font-family: inherit;
  font-size: 3.2rem;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.banner__img {
  border-radius: 24px;
  object-position: top left;
  object-fit: cover;
  width: 100%;
}

.icon__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 12rem;
  width: 20rem;
}
