:root {
  --primaryText: #493d5c;
  --black: #31293d;
  --whites: #f9fafb;
  --cardBackground: #f3f4f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url("../img/plum.png");
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.heading__secondary {
  color: inherit;
  font-family: inherit;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.banner__img {
  border-radius: 24px;
  object-fit: cover;
  height: 44rem;
  width: 100%;
}

.icon__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12rem;
  width: 20rem;
}

.weather {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0.8rem 2.4rem 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 3.2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 4rem 0;
  margin: 10% auto;
  width: 90%;
}
.weather__container__desc {
  display: flex;
  gap: 1.6rem;
  padding: 6rem 0;
  height: 100%;
  width: 100%;
}
.weather__current {
  margin: 0 auto 3.2rem;
  width: 95%;
}
.weather__current__photo {
  position: relative;
  background: url("./img/rainy.jpg");
  height: 100%;
  width: 100%;
}
.weather__current__desc {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  height: 100%;
  width: 100%;
  color: var(--whites);
  line-height: 1.4;
}
.weather__current--desc {
  font-size: 2.2rem;
  margin-left: 8px;
}
.weather__location {
  display: block;
  font-size: 2rem;
  font-weight: 400;
}
.weather__date {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
}
.weather__degrees {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}
.weather__daily {
  margin: 0 auto;
  width: 95%;
}
.weather__daily__container {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.weather__items {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--cardBackground);
  border-radius: 12px;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 2rem;
}
.weather__icon {
  color: currentColor;
  margin-bottom: 1.2rem;
  height: 7rem;
  width: 7rem;
}
.weather__icon--current {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}
.weather__desc {
  color: var(--primaryText);
  font-size: inherit;
  margin-bottom: 8px;
}
.weather__day {
  color: var(--primaryText);
  font-size: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
