:root {
  --primaryText: #493d5c;
  --black: #31293d;
  --whites: #f9fafb;
  --cardBackground: #f3f4f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url("../img/plum.png") no-repeat center center/cover;
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  user-select: none;
}

.heading__primary {
  background: linear-gradient(to top left, #6400ff, #382b47);
  display: inline;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: inherit;
  font-size: 4.8rem;
  font-weight: 700;
}
.heading__secondary {
  color: inherit;
  font-family: inherit;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.banner__img {
  border-radius: 24px;
  object-position: top left;
  object-fit: cover;
  width: 100%;
}

.icon__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12rem;
  width: 20rem;
}

.weather {
  padding: 4rem 0;
  margin: 10% auto;
  width: 90%;
}
.weather__container__desc {
  display: flex;
  gap: 1.6rem;
}
.weather__current {
  margin: 0 auto 3.2rem;
  width: 95%;
}
.weather__current__photo {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 2.4rem;
}
.weather__current__desc {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--whites);
  font-weight: 700;
  line-height: 1.4;
}
.weather__current--desc {
  font-size: 2.2rem;
  margin-left: 8px;
}
.weather__container__desc {
  padding: 4rem 0;
}
.weather__location {
  display: block;
  font-weight: 400;
}
.weather__date {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
}
.weather__degrees {
  font-weight: 700;
  line-height: 1;
}
.weather__daily {
  margin: 0 auto;
  width: 95%;
}
.weather__daily__container {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.weather__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
}
.weather__icon {
  color: currentColor;
  margin-bottom: 1.2rem;
  height: 7rem;
  width: 7rem;
}
.weather__icon--current {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}
.weather__icon--whites {
  filter: invert(93%) sepia(36%) saturate(3059%) hue-rotate(178deg) brightness(119%) contrast(95%);
}
.weather__desc {
  color: var(--primaryText);
  font-size: inherit;
  margin-bottom: 8px;
}
.weather__day {
  color: var(--primaryText);
  font-size: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .weather {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.8rem 2.4rem 0 rgba(31, 38, 135, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 3.2rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .weather__current__desc {
    top: 5rem !important;
    left: 5rem !important;
  }
  .weather__daily__container {
    gap: 1.6rem !important;
  }
  .weather__items {
    background-color: var(--cardBackground) !important;
    padding: 2rem !important;
    flex: 1;
  }
  .weather .banner__img {
    border-radius: 16px;
    height: 44rem !important;
    width: 100%;
  }
  .weather__location {
    font-size: 2rem;
  }
  .weather__degrees {
    font-size: 6rem;
  }
  .weather .heading__primary {
    background: linear-gradient(to top left, #6400ff, #382b47) !important;
    display: inline;
    background-clip: text !important;
    -webkit-background-clip: text;
    color: transparent !important;
    font-family: inherit;
    font-size: 4.8rem;
  }
  .weather .heading__secondary {
    color: var(--primaryText) !important;
  }
}
@media (min-width: 300px) {
  .weather__current__desc {
    top: 3.5rem;
    left: 2rem;
  }
  .weather__daily__container {
    gap: 2.4rem;
  }
  .weather__items {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.8rem 2.4rem 0 rgba(31, 38, 135, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: var(--whites);
    padding: 4rem 2rem;
  }
  .weather .banner__img {
    border-radius: 24px;
    height: 36rem;
    width: 100%;
  }
  .weather__location {
    font-size: 1.8rem;
  }
  .weather__degrees {
    font-size: 4.8rem;
  }
  .weather .heading__primary {
    color: var(--whites);
    font-size: 3.8rem;
  }
  .weather .heading__secondary {
    color: var(--whites);
  }
}
