.weather {
  padding: 4rem 0;
  margin: 10% auto;
  width: 90%;

  &__container__desc {
    display: flex;
    gap: 1.6rem;
  }

  &__current {
    margin: 0 auto 3.2rem;
    width: 95%;

    &__photo {
      position: relative;
      background: url("./img/rainy.jpg");
      height: 100%;
      width: 100%;
    }

    &__desc {
      position: absolute;
      height: 100%;
      width: 100%;

      color: var(--whites);
      line-height: 1.4;
    }

    &--desc {
      font-size: 2.2rem;
      margin-left: 8px;
    }
  }

  &__container__desc {
    padding: 4rem 0;
  }

  &__location {
    display: block;
    font-weight: 400;
  }

  &__date {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__degrees {
    font-weight: 700;
    line-height: 1;
  }

  &__daily {
    margin: 0 auto;
    width: 95%;

    &__container {
      display: flex;
      gap: 1.6rem;
      flex-wrap: wrap;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 12px;
    font-family: inherit;
    font-size: 1.6rem;
    width: 100%;
  }

  &__icon {
    color: currentColor;
    margin-bottom: 1.2rem;
    height: 7rem;
    width: 7rem;

    &--current {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 12rem;
    }
  }

  &__desc {
    color: var(--primaryText);
    font-size: inherit;
    margin-bottom: 8px;
  }

  &__day {
    color: var(--primaryText);
    font-size: inherit;
    font-weight: 600;
    text-transform: uppercase;
  }

  @media (min-width: 992px) {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.8rem 2.4rem 0 rgba(31, 38, 135, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 3.2rem;
    border: 1px solid rgba(255, 255, 255, 0.18);

    &__current {
      &__desc {
        top: 5rem !important;
        left: 5rem !important;
      }
    }

    &__daily {
      &__container {
        gap: 1.6rem !important;
      }
    }

    &__items {
      background-color: var(--cardBackground) !important;
      padding: 2rem !important;
      flex: 1;
    }

    .banner__img {
      border-radius: 16px;
      height: 44rem !important;
      width: 100%;
    }

    &__location {
      font-size: 2rem;
    }

    &__degrees {
      font-size: 6rem;
    }

    .heading__secondary {
      color: var(--primaryText) !important;
    }
  }

  @media (min-width: 300px) {
    &__current__desc {
      top: 3.5rem;
      left: 2rem;
    }

    &__daily {
      &__container {
        gap: 2.4rem;
      }
    }

    &__items {
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 0.8rem 2.4rem 0 rgba(31, 38, 135, 0.25);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: var(--whites);

      padding: 4rem 2rem;
    }

    .banner__img {
      border-radius: 24px;
      height: 36rem;
      width: 100%;
    }

    &__location {
      font-size: 1.8rem;
    }

    &__degrees {
      font-size: 4.8rem;
    }

    .heading__secondary {
      color: var(--whites);
    }
  }
}
